.joinLink {
  margin-top: 45px;
  text-decoration: none;
  background: linear-gradient(
    to right,
    #eec340 0%,
    #fffa8a 26%,
    #eec340 46%,
    #deac17 70%,
    #ffff95 98%
  );

  width: 180px;
  height: 66px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Copperplate";
  font-size: 16px;

  color: #1c1c1c;
}
@font-face {
  font-family: "Copperplate";
  src: url("./assets/fonts/Copperplate.otf") format("opentype");

  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) {
  .joinLink {
    margin-top: 8px;
    font-weight: 400;
    width: 174px;
    height: 31px;
  }
}
